modules = ["nodejs-20", "postgresql-16", "python-3.11"]
run = "uvicorn main:app --reload --host=0.0.0.0 --port=8000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host=0.0.0.0 --port=8000"]

[[ports]]
localPort = 8000
externalPort = 80

